*.pyc
*.sw[op]
examples/*.png
nb_examples/
nb_tutorials/
build/*
dist/*
*.egg-info/
.ipynb_checkpoints
tmtags
tags
.DS_Store
.cache
# IntelliJ IDE
.idea
*.iml

# Sphinx
_build

# Merge tool
*.orig

# Test artifacts
mcmc.sqlite

# Docker development
# notebooks/

# air speed velocity (asv)
benchmarks/env/
benchmarks/html/
benchmarks/results/
.pytest_cache/

# VSCode
.vscode/
