.coverage
*.linkinfo
*.o
*.orig
*.pyc
*.pyo
*.so
*.sw?
*~
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
.noseids
*.DS_Store
*.bak
*.egg-info/
\#*\#
build
compiled/*.cpp
core.*
cutils_ext.cpp
dist
doc/.build/
doc/indexes/oplist.txt
doc/indexes/typelist.txt
html
pdf
setuptools-*.egg
aesara/generated_version.py
aesara/generated_version.py.out
distribute-*.egg
distribute-*.tar.gz
Aesara.suo
.ipynb_checkpoints
.pydevproject
.ropeproject
core
.idea
.vs
.mypy_cache/
/htmlcov/

aesara-venv/
/notebooks/Sandbox*
.vscode/
