# Prevent git from showing duplicate names with commands like "git shortlog"
# # See the manpage of git-shortlog for details.
# # The syntax is:
# # Name that should be used <email that should be used> Bad name <bad email>
# #
# # You can skip Bad name if it is the same as the one that should be used, and is unique.
# #
# # This file is up-to-date if the command git log --format="%aN <%aE>" | sort -u
# # gives no duplicates.

Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> Christopher Fonnesbeck <chris.fonnesbeck@vanderbilt.edu>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> <@fonnesbeck (Twitter)>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> <chris@Chipper.local>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> <fonnesbeck@Smoltz.local>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> <fonnesbeck@gmail.com>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> <fonnesbeck@me.com>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> <fonnesbeck@smoltz-wireless.otago.ac.nz>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> <fonnesbeck@smoltz.otago.ac.nz>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> Christopher Fonnesbeck <chris.fonnesbeck@vanderbilt.edu>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> Christopher Fonnesbeck <fonnescj@Honus.local>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> Christopher Fonnesbeck <fonnescj@honus.dhcp.mc.vanderbilt.edu>
Chris Fonnesbeck <chris.fonnesbeck@vanderbilt.edu> fonnesbeck <fonnesbeck@15d7aa0b-6f1a-0410-991a-d59f85d14984>
Thomas Wiecki <thomas.wiecki@gmail.com> twiecki <thomas.wiecki@gmail.com>
