language: python
python:
  - "2.7"
before_install:
  - sudo apt-get install liblapack-dev gfortran python-scipy libblas-dev libsuitesparse-dev swig
install:
  - pip install git+https://github.com/numpy/numpy.git
  - pip install scipy
  - pip install matplotlib
  - pip install git+https://github.com/Theano/Theano.git
  - pip install pandas
  - pip install numdifftools
  - pip install Cython
  - pip install scikits.sparse
  - python setup.py build_ext --inplace
script:
  - nosetests -s pymc/tests/
