include CHANGELOG.md
include CONDUCT.md
include GOVERNANCE.md
include LICENSE
include README.rst
include RELEASE-NOTES.md
include requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
