recursive-include pymc3/tests/data *
recursive-include source *
# because of an upload-size limit by PyPI, we're temporarily removing docs from the tarball:
recursive-exclude docs *
include requirements.txt
include *.md *.rst
include scripts/*.sh
include LICENSE
