arviz>=0.9.0
theano>=1.0.5
numpy>=1.13.0
scipy>=0.18.1
pandas>=0.18.0
patsy>=0.5.1
fastprogress>=0.2.0
h5py>=2.7.0
typing-extensions>=3.7.4
dataclasses; python_version < '3.7'
contextvars; python_version < '3.7' 
