<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PyMC</string>
	<key>ordering</key>
	<array>
		<string>8F571772-B845-4EEC-AFDD-2D16DB51C8EC</string>
		<string>4B37D675-B405-43CC-A66F-CD063D4D51FF</string>
		<string>9AF6E6E1-6F62-4F96-860D-61E13411880C</string>
	</array>
	<key>uuid</key>
	<string>CDC41549-B9B3-4A0D-AF28-9865B1DF10D6</string>
</dict>
</plist>
