name: docker-image

on:
  push:
  #release:
  #  types:
  #    - created

env:
  CONTAINER_NAME: build-test

jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
              name=pymc/pymc,enable=true
          tags: |
              type=ref,event=branch
              type=ref,event=pr
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}

      - name: Build and load image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: scripts/Dockerfile
          load: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Test importing pymc
        run: |
           docker run --rm build-test conda run -n pymc-dev python -c 'import pymc;print(pymc.__version__)'

      #- name: Push to Docker Hub
      #  uses: docker/build-push-action@v3
      #  with:
      #    context: .
      #    push: true
      #    file: scripts/Dockerfile
      #    tags: ${{ steps.meta.outputs.tags }}
      #    labels: ${{ steps.meta.outputs.labels }}
