name: release-pipeline

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  build-package:
    runs-on: ubuntu-latest
    permissions:
      # write attestations and id-token are necessary for attest-build-provenance-github
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2.14.0
        with:
          # Prove that the packages were built in the context of this workflow.
          attest-build-provenance-github: true

  publish-package:
    # Don't publish from forks
    if: github.repository_owner == 'pymc-devs' && github.event_name == 'release' && github.event.action == 'published'
    # Use the `release` GitHub environment to protect the Trusted Publishing (OIDC)
    # workflow by requiring signoff from a maintainer.
    environment: release
    needs: build-package
    runs-on: ubuntu-latest
    permissions:
      # write id-token is necessary for trusted publishing (OIDC)
      id-token: write
    steps:
      - name: Download Distribution Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          # The build-and-inspect-python-package action invokes upload-artifact.
          # These are the correct arguments from that action.
          name: Packages
          path: dist
      - name: Publish Package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        # Implicitly attests that the packages were uploaded in the context of this workflow.
